:root {
  --bondiBlue: #0095B6;
  --lightGrey: #d3d3d3;
  --background-end-rgb: 255, 255, 255;
}

html {
  background-color: var(--lightGrey);
}

/* layout.tsx */

.supabaseListenerO {
  background-color: aqua;
}

/* page.tsx */