:root {
  --bondiBlue: #0095B6;
  --lightGrey: #d3d3d3;
  --background-end-rgb: 255, 255, 255;
}

html {
  background-color: var(--lightGrey);
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

/* layout.tsx */

.supabaseListenerO {
  background-color: aqua;
}

/* page.tsx */


/* widthが1025x以上(pc版：デフォルト) */
/* widthが1024px以下(スマホ版） */
@media screen and (max-width: 1024px) {
  p {
    font-size: 10px;
    line-height: 12px;
  }
}