:root {
  --bondiBlue: #0095B6;
  --lightGrey: #d3d3d3;
  --background-end-rgb: 255, 255, 255;
}

html {
  background-color: var(--lightGrey);
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

/* layout.tsx */

.supabaseListenerO {
  background-color: aqua;
}

/* page.tsx */